name: GitHub Actions Demo
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch'
        required: true
        default: 'main'

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-southeast-1
#      - name: Login to Amazon ECR
#        id: login-ecr
#        uses: aws-actions/amazon-ecr-login@v1

      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test:${{ github.event.inputs.branch }}
            223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test:latest

#  build:
#    runs-on: ubuntu-latest
#    container: node:16-alpine
#    steps:
#      - name: Check out repository code
#        uses: actions/checkout@v2
#        with:
#          ref: ${{ github.event.inputs.branch }}
#      - run: npm ci
#      - run: tar -czf build.tar ./*
#      - name: Archive production artifacts
#        uses: actions/upload-artifact@v2
#        with:
#          name: build
#          path: build.tar

#  publish:
#    runs-on: ubuntu-latest
#    needs: build
#    permissions:
#      contents: read
#      packages: write
#
#    steps:
#      - run: ls -lha
#
#      - name: Download math result for job 1
#        uses: actions/download-artifact@v2
#        with:
#          name: build
#
#      - run: tar -xzf build.tar && rm build.tar
#      - run: ls -lha
#
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-southeast-1
#
#      - name: Login to Amazon ECR
#        id: login-ecr
#        uses: aws-actions/amazon-ecr-login@v1
#
#      - name: Extract metadata (tags, labels) for Docker
#        id: meta
#        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
#        with:
#          images: 223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test/${{ github.ref_name }}
#
#      - name: Build and push Docker image
#        uses: docker/build-push-action@v2
#        with:
#          push: true
#          tags: ${{ steps.meta.outputs.tags }}