name: GitHub Actions Demo
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch'
        required: true
        default: ''
env:
  REPOSITORY: 223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test
jobs:
#  build:
#    runs-on: ubuntu-latest
#    container: node:16-alpine
#    steps:
#      - name: Check out repository code
#        uses: actions/checkout@v2
#        with:
#          ref: ${{ github.event.inputs.branch }}
#      - run: |
#          npm ci
#          tar -czf /tmp/app.tar .
#      - name: Archive production artifacts
#        uses: actions/upload-artifact@v2
#        with:
#          name: app
#          path: /tmp/app.tar
#  publish:
#    runs-on: ubuntu-latest
#    needs: build
#    steps:
#      - name: Download artifact
#        uses: actions/download-artifact@v2
#        with:
#          name: app
#      - run: tar -xzf app.tar && rm app.tar
#      - run: |
#          if [ ${{ startsWith(github.event.inputs.branch, 'v') }} == true ]
#          then
#            tag=`echo "${{ github.event.inputs.branch }}" | sed "s/^v/""/"`
#            echo "::set-output name=tags::${{ env.REPOSITORY }}:$tag,${{ env.REPOSITORY }}:latest"
#          else
#            echo "::set-output name=tags::${{ env.REPOSITORY }}:dev-${{ github.event.inputs.branch }}"
#          fi
#        id: make-tags
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-southeast-1
#      - name: Login to Amazon ECR
#        id: login-ecr
#        uses: aws-actions/amazon-ecr-login@v1
#      - name: Build and push Docker image
#        uses: docker/build-push-action@v2
#        with:
#          push: true
#          tags: ${{ steps.make-tags.outputs.tags }}

  test:
    runs-on: ubuntu-latest
    steps:
#      - run: |
#          if [ ${{ startsWith(github.event.inputs.branch, 'v') }} == true ]
#          then
#            tag=`echo "${{ github.event.inputs.branch }}" | sed "s/^v/""/"`
#            echo "::set-output name=tags::$tag,latest"
#          else
#            echo "::set-output name=tags::dev-${{ github.event.inputs.branch }}"
#          fi
#        id: make-tags
#      - run: echo "${{ steps.make-tags.outputs.tags }}"
#
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-southeast-1
#      - name: Login to Amazon ECR
#        id: login-ecr
#        uses: aws-actions/amazon-ecr-login@v1
#
#      - name: Check out repository code
#        uses: actions/checkout@v2
#        with:
#          ref: ${{ github.event.inputs.branch }}
#
#      - name: Configure AWS credentials
#        uses: aws-actions/configure-aws-credentials@v1
#        with:
#          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#          aws-region: ap-southeast-1
#
#      - name: Login to Amazon ECR
#        id: login-ecr
#        uses: aws-actions/amazon-ecr-login@v1
#
#      - name: Build and push Docker image
#        uses: docker/build-push-action@v2
#        with:
#          push: true
#          tags: |
#            223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test:${{ github.event.inputs.branch }}
#            223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test:latest
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: 223190806625.dkr.ecr.ap-southeast-1.amazonaws.com/test
      - run: echo "${{ steps.meta.outputs.tags }}"
